modules = ["nodejs-20", "web", "python-3.12"]

[deployment]
router = "application"
deploymentTarget = "autoscale"
run = ["sh", "scripts/start-prod.sh"]
build = ["sh", "scripts/build-prod.sh"]

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/mockup-sandbox: Component Preview Server"

[[workflows.workflow]]
name = "artifacts/mockup-sandbox: Component Preview Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=8000 BASE_PATH=/__mockup/ pnpm --filter @workspace/mockup-sandbox run dev"
waitForPort = 8000

[workflows.workflow.metadata]
outputType = "console"
isCanvasWorkflow = true

[agent]
stack = "BEST_EFFORT_FALLBACK"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BMdSFeQyTp58InOor8g-gPe9aCo8HUYFuAD30DFLUCfeq26BrXe3RzNzS0NZATBFDgW9gqm-Toxqx5j4q6Py1CQ"
VAPID_EMAIL = "mailto:admin@pulse.app"
PORT = "5000"
BASE_PATH = "/"
API_PORT = "8080"
GMAIL_USER = "kakafka842@gmail.com"
GMAIL_APP_PASSWORD = "upefjfrziasysbaz"
